CASimClient/Service References/CAServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CASimService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getCellState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CASimService" minOccurs="0" name="cell" type="q1:CPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCellStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCellStateResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumNeighbors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CASimService" minOccurs="0" name="cell" type="q2:CPoint" />
        <xs:element minOccurs="0" name="state" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumNeighborsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumNeighborsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUpdated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CASimService" minOccurs="0" name="getUpdatedResult" nillable="true" type="q3:ArrayOfCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CASimService" minOccurs="0" name="newCA" nillable="true" type="q4:CA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initCAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initGridBlank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initGridBlankResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="initGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="newGrid" nillable="true" type="q5:ArrayOfArrayOfunsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initGridResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="run">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="throttled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="runResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setCellState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CASimService" minOccurs="0" name="cell" type="q6:CPoint" />
        <xs:element minOccurs="0" name="state" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCellStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="step">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToUpdated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGridResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumStatesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGrid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getGridResult" nillable="true" type="q7:ArrayOfArrayOfunsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGeneration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGenerationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGenerationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>